:root {
    --main-color: darkblue;
    --second-color: rgb(67, 12, 92);
    --background-color: rgba(56, 54, 54, 0.884);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 100%;
    flex: auto;
    justify-content: space-between;
    color: var(--main-color);
    justify-content: center;
    background-color: var(--background-color);
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 50%;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 50%;

}
.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--second-color);
}

.question-block {
    position: absolute;
    left: 50%;
    max-width: 1000px;
    justify-content: center;
    margin: 0, auto;
}
.question {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    margin: 10px, 200px;
    text-align: left;     
    background-color: var(--background-color);   
}


.choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--second-color);
    margin: 10px, 200;
    text-align: left;
    background-color: var(--background-color);           
}
li {
    list-style: none;
    color: var(--second-color);
}

.btnstyle {
    background-color: #210da3;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%
}
.btnstyle2 {
    background-color: #210da3;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.results-class {
    display: none;
}

.highscores {
    display: none;
}

#highscorelist li {
    align-items: center;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: bold;    
}


